$c-gray: #eee;
$color-dark-orange: #b2341a;
$color-accent-orange: #f9512e;
$color-light-orange: #fba28f;
$color-light-pink: #ffeefc;
$color-light-blue: #eef7ff;
$color-black: #1c1a26;
$color-grey: #7f8096;
$color-white: #fff;
$font-body: 'Inter', 'Helvetica Neue', Arial, sans-serif;
$h1-desktop: 144px;
$h1-desktop-lh: 122px;
$h1-tablet: 80px;
$h1-tablet-lh: 68px;
$h1-mobile: 64px;
$h1-mobile-lh: 54px;
$h2-desktop: 72px;
$h2-desktop-lh: 61px;
$h2-tablet: 56px;
$h2-tablet-lh: 48px;
$h2-mobile: 48px;
$h2-mobile-lh: 41px;
$big-text: 96px;
$big-text-lh: 82px;
$body-text: 16px;
$body-text-lh: 24px;
$heading-letter-spacing: -0.05em;
$body-letter-spacing: -0.01em;
$uppercase-letter-spacing: 0.02em;
$width-design: 1440px;
$bp-desktop: 1200px;
$bp-header: 1024px;
$bp-mobile: 640px;
$margin-desktop: 124px;
$margin-desktop-md: 44px;
$margin-mobile: 16px;
$transition: 0.3s ease;
$radius-s: 8px;
$radius-m: 16px;
$radius-pill: 999px;
